/* CART ICON */
.cart-icon {
  cursor: pointer;
}

/* CART PANEL */
.cart-panel {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  transition: 0.3s;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
}

.cart-panel.active {
  bottom: 0;
}

/* CART ITEM */
.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
